.header {
  border-radius: 40px;
  background-color: #93bbea;
  color: #fff;
  text-align: center;
  margin-bottom: 82px;
  padding: 40px 10px 14px;
  position: relative;
  width: 100%;
  min-height: 306px;

  &::before {
    content: url('assets/img/telegrams.svg');
    position: absolute;
    left: 0;
    top: 37px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 40px;
    width: 268px;
    height: 228px;
    background-image: url('assets/img/iphone.svg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 1px;
    margin: 4px 0;
  }

  &__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 140%;
    max-width: 535px;
    margin: 0 auto 40px;
  }
}
