@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('assets/fonts/museosanscyrl.eot');
  src: local('Museo Sans Cyrl'), local('Museo Sans Cyrl'),
    url('assets/fonts/museosanscyrl.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/museosanscyrl.woff2') format('woff2'),
    url('assets/fonts/museosanscyrl.woff') format('woff'),
    url('assets/fonts/museosanscyrl.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
