@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local('Museo Sans Cyrl'), local('Museo Sans Cyrl'),
    url('assets/fonts/MuseoSansCyrl.woff') format('woff'),
    url('assets/fonts/MuseoSansCyrl.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
